canvas {
  position: absolute;
  top: 10%;
}

svg {
  height: 3em;
  width: 3em;
}
img {
  height: 3em;
  width: 3em;
}

.nav {
  width: 100%;
  height: 4%;
  position: absolute;
  padding-left: 2%;
  padding-top: 1%;
  left: 0;
}
.topnav {
  top: 0;
}
.lowernav {
  top: 5%;
}

